<!DOCTYPE html>
<html lang="vi">

<head th:replace="~{layouts/admin-head :: admin-head}">
  <meta charset="UTF-8">
  <title>Hồ sơ cá nhân</title>
</head>

<body>

<!-- Navbar start -->
<div th:replace="~{layouts/admin-navbar :: admin-navbar}"></div>
<!-- Navbar End -->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Hồ sơ cá nhân</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="admin-home.html">Trang chủ</a></li>
        <li class="breadcrumb-item">Người dùng</li>
        <li class="breadcrumb-item active">Hồ sơ</li>
      </ol>
    </nav>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img src="../../static/admin/assets/img/profile-img.jpg" alt="Ảnh đại diện" class="rounded-circle">
            <h2>Nguyen Dinh Thiep</h2>
            <h3>Web Fullstack</h3>
            <div class="social-links mt-2">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">

            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">
                  Tổng quan
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                  Chỉnh sửa hồ sơ
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">
                  Cài đặt
                </button>
              </li>

              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">
                  Đổi mật khẩu
                </button>
              </li>
            </ul>

            <div class="tab-content pt-2">

              <!-- Tổng quan -->
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Thông tin chi tiết</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Họ và tên</div>
                  <div class="col-lg-9 col-md-8">Nguyễn Đình Thiệp</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Công ty</div>
                  <div class="col-lg-9 col-md-8">Code Gym</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Nghề nghiệp</div>
                  <div class="col-lg-9 col-md-8">Web Full Stack</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Quốc gia</div>
                  <div class="col-lg-9 col-md-8">Việt Nam</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Địa chỉ</div>
                  <div class="col-lg-9 col-md-8">Vinh, Nghệ An</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Số điện thoại</div>
                  <div class="col-lg-9 col-md-8">0899 073 387</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">thiepthanhx03@gmail.com</div>
                </div>
              </div>

              <!-- Chỉnh sửa hồ sơ -->
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <form>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Ảnh đại diện</label>
                    <div class="col-md-8 col-lg-9">
                      <img src="../../static/admin/assets/img/profile-img.jpg" alt="Ảnh đại diện">
                      <div class="pt-2">
                        <a href="#" class="btn btn-primary btn-sm" title="Tải ảnh mới">
                          <i class="bi bi-upload"></i>
                        </a>
                        <a href="#" class="btn btn-danger btn-sm" title="Xóa ảnh">
                          <i class="bi bi-trash"></i>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Họ và tên</label>
                    <div class="col-md-8 col-lg-9">
                      <label>
                        <input type="text" class="form-control" value="Nguyen Dinh Thiep">
                      </label>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Giới thiệu</label>
                    <div class="col-md-8 col-lg-9">
                      <label>
                        <textarea class="form-control" style="height: 100px">
                          Mô tả về vai trò trong công việc.
                        </textarea>
                      </label>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Lưu thay đổi
                    </button>
                  </div>

                </form>
              </div>

              <!-- Cài đặt -->
              <div class="tab-pane fade pt-3" id="profile-settings">
                <form>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">
                      Thông báo email
                    </label>
                    <div class="col-md-8 col-lg-9">

                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="checkbox" checked>
                        </label>
                        <label class="form-check-label">
                          Thay đổi thông tin tài khoản
                        </label>
                      </div>

                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="checkbox" checked>
                        </label>
                        <label class="form-check-label">
                          Sản phẩm và dịch vụ mới
                        </label>
                      </div>

                      <div class="form-check">
                        <label>
                          <input class="form-check-input" type="checkbox">
                        </label>
                        <label class="form-check-label">
                          Khuyến mãi & tiếp thị
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Lưu cài đặt
                    </button>
                  </div>

                </form>
              </div>

              <!-- Đổi mật khẩu -->
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <form>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">
                      Mật khẩu hiện tại
                    </label>
                    <div class="col-md-8 col-lg-9">
                      <input type="password" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">
                      Mật khẩu mới
                    </label>
                    <div class="col-md-8 col-lg-9">
                      <input type="password" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">
                      Nhập lại mật khẩu mới
                    </label>
                    <div class="col-md-8 col-lg-9">
                      <input type="password" class="form-control">
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Đổi mật khẩu
                    </button>
                  </div>

                </form>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

</main>

<div th:replace="~{layouts/admin-footer :: admin-footer}"></div>

</body>
</html>
