<div th:fragment="admin-navbar">
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/admin}" class="logo d-flex align-items-center">
                <img th:src="@{/admin/assets/img/logo.png}" alt="">
                <span class="d-none d-lg-block">OnMeet</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" th:action="@{/admin/search}">
                <input type="text" name="query" placeholder="Tìm kiếm..." title="Nhập từ khóa tìm kiếm">
                <button type="submit" title="Tìm kiếm"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">1</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            Bạn có 1 thông báo mới
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Xem tất cả</span></a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Cảnh báo hệ thống</h4>
                                <p>Đã phát hiện đăng nhập lạ...</p>
                                <p>30 phút trước</p>
                            </div>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li class="dropdown-footer">
                            <a href="#">Xem tất cả thông báo</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">1</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            Bạn có 1 tin nhắn mới
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Xem tất cả</span></a>
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li class="message-item">
                            <a href="#">
                                <img th:src="@{/admin/assets/img/messages-1.jpg}" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Xin chào, tôi cần hỗ trợ về đơn hàng...</p>
                                    <p>4 giờ trước</p>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li class="dropdown-footer">
                            <a href="#">Xem tất cả tin nhắn</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="@{/admin/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">NĐ. Thiệp</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Nguyễn Đình Thiệp</h6>
                            <span>Web Fullstack</span>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/profile}">
                                <i class="bi bi-person"></i>
                                <span>Hồ sơ của tôi</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/settings}">
                                <i class="bi bi-gear"></i>
                                <span>Cài đặt tài khoản</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/faq}">
                                <i class="bi bi-question-circle"></i>
                                <span>Trợ giúp & FAQ</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </header>

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " th:href="@{/admin}">
                    <i class="bi bi-grid"></i>
                    <span>Bảng điều khiển</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Quản lý người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin-users}">
                            <i class="bi bi-circle"></i><span>Danh sách người dùng</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý phòng họp</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin-department}">
                            <i class="bi bi-circle"></i><span>Danh sách phòng họp</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Bảng dữ liệu</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/}">
                            <i class="bi bi-circle"></i><span>Thống kê</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-heading">Trang chức năng</li>

            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin-profile}">
                    <i class="bi bi-person"></i>
                    <span>Hồ sơ cá nhân</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin-register}">
                    <i class="bi bi-card-list"></i>
                    <span>Đăng ký</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin-login}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Đăng nhập</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{/admin-404}">
                    <i class="bi bi-dash-circle"></i>
                    <span>404</span>
                </a>
            </li>
        </ul>
    </aside>
</div>