<footer th:fragment="footer" id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a th:href="@{/}" class="logo d-flex align-items-center">
                    <span class="sitename">OnMeeting</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Thành phố Vinh</p>
                    <p>Tỉnh Nghệ An, Việt Nam</p>
                    <p class="mt-3"><strong>Điện thoại:</strong> <span>+84 899 073 387</span></p>
                    <p><strong>Email:</strong> <span>thiepthanhx37@gmail.com</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href="#" aria-label="Twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Liên kết nhanh</h4>
                <ul>
                    <li><a th:href="@{/}">Trang chủ</a></li>
                    <li><a href="#about">Về chúng tôi</a></li>
                    <li><a href="#services">Dịch vụ</a></li>
                    <li><a th:href="@{/terms}">Điều khoản sử dụng</a></li>
                    <li><a th:href="@{/privacy}">Chính sách bảo mật</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Dịch vụ của chúng tôi</h4>
                <ul>
                    <li><a href="#">Đặt phòng họp</a></li>
                    <li><a href="#">Tổ chức hội thảo</a></li>
                    <li><a href="#">Cho thuê thiết bị</a></li>
                    <li><a href="#">Tiệc trà & Sự kiện</a></li>
                    <li><a href="#">Văn phòng ảo</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Hỗ trợ khách hàng</h4>
                <ul>
                    <li><a href="#">Trung tâm trợ giúp</a></li>
                    <li><a href="#">Hướng dẫn thanh toán</a></li>
                    <li><a href="#">Câu hỏi thường gặp (FAQ)</a></li>
                    <li><a href="#">Báo cáo sự cố</a></li>
                    <li><a href="#">Liên hệ hỗ trợ</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Kết nối & Hợp tác</h4>
                <ul>
                    <li><a href="#">Tin tức sự kiện</a></li>
                    <li><a href="#">Đối tác chiến lược</a></li>
                    <li><a href="#">Dành cho doanh nghiệp</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Blog công nghệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Bản quyền thuộc về</span> <strong class="px-1 sitename">OnMeeting</strong> <span>Mọi quyền được bảo lưu</span></p>
        <div class="credits">
            Thiết kế bởi <a href="/home">Nguyễn Đình Thiệp</a>
        </div>
    </div>

</footer>



<!--  Testimonials-->
<!--</section><section id="testimonials" class="testimonials section light-background">-->

<!--  <div class="container section-title" data-aos="fade-up">-->
<!--    <h2>Testimonials</h2>-->
<!--    <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
<!--  </div><div class="container" data-aos="fade-up" data-aos-delay="100">-->

<!--  <div class="testimonials-slider swiper init-swiper">-->
<!--    <script type="application/json" class="swiper-config">-->
<!--      {-->
<!--        "slidesPerView": 1,-->
<!--        "loop": true,-->
<!--        "speed": 600,-->
<!--        "autoplay": {-->
<!--          "delay": 5000-->
<!--        },-->
<!--        "navigation": {-->
<!--          "nextEl": ".swiper-button-next",-->
<!--          "prevEl": ".swiper-button-prev"-->
<!--        }-->
<!--      }-->
<!--    </script>-->

<!--    <div class="swiper-wrapper">-->

<!--      <div class="swiper-slide">-->
<!--        <div class="testimonial-item">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-8">-->
<!--              <h2>Sed ut perspiciatis unde omnis</h2>-->
<!--              <p>-->
<!--                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
<!--              </p>-->
<!--              <p>-->
<!--                Beatae magnam dolore quia ipsum. Voluptatem totam et qui dolore dignissimos. Amet quia sapiente laudantium nihil illo et assumenda sit cupiditate. Nam perspiciatis perferendis minus consequatur. Enim ut eos quo.-->
<!--              </p>-->
<!--              <div class="profile d-flex align-items-center">-->
<!--                <img th:src="@{/assets/img/person/person-m-7.webp}" class="profile-img" alt="">-->
<!--                <div class="profile-info">-->
<!--                  <h3>Saul Goodman</h3>-->
<!--                  <span>Client</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 d-none d-lg-block">-->
<!--              <div class="featured-img-wrapper">-->
<!--                <img th:src="@{/assets/img/person/person-m-7.webp}" class="featured-img" alt="">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div><div class="swiper-slide">-->
<!--      <div class="testimonial-item">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8">-->
<!--            <h2>Nemo enim ipsam voluptatem</h2>-->
<!--            <p>-->
<!--              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
<!--            </p>-->
<!--            <p>-->
<!--              Dolorem excepturi esse qui amet maxime quibusdam aut repellendus voluptatum. Corrupti enim a repellat cumque est laborum fuga consequuntur. Dolorem nostrum deleniti quas voluptatem iure dolorum rerum. Repudiandae doloribus ut repellat harum vero aut. Modi aut velit aperiam aspernatur odit ut vitae.-->
<!--            </p>-->
<!--            <div class="profile d-flex align-items-center">-->
<!--              <img th:src="@{/assets/img/person/person-f-8.webp}" class="profile-img" alt="">-->
<!--              <div class="profile-info">-->
<!--                <h3>Sara Wilsson</h3>-->
<!--                <span>Designer</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4 d-none d-lg-block">-->
<!--            <div class="featured-img-wrapper">-->
<!--              <img th:src="@{/assets/img/person/person-f-8.webp}" class="featured-img" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div><div class="swiper-slide">-->
<!--      <div class="testimonial-item">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8">-->
<!--            <h2>-->
<!--              Labore nostrum eos impedit-->
<!--            </h2>-->
<!--            <p>-->
<!--              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.-->
<!--            </p>-->
<!--            <p>-->
<!--              Itaque ut explicabo vero occaecati est quam rerum sed. Numquam tempora aut aut quaerat quia illum. Nobis quia autem odit ipsam numquam. Doloribus sit sint corporis eius totam fuga. Hic nostrum suscipit corrupti nam expedita adipisci aut optio.-->
<!--            </p>-->
<!--            <div class="profile d-flex align-items-center">-->
<!--              <img th:src="@{/assets/img/person/person-m-9.webp}" class="profile-img" alt="">-->
<!--              <div class="profile-info">-->
<!--                <h3>Matt Brandon</h3>-->
<!--                <span>Freelancer</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4 d-none d-lg-block">-->
<!--            <div class="featured-img-wrapper">-->
<!--              <img th:src="@{/assets/img/person/person-m-9.webp}" class="featured-img" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div><div class="swiper-slide">-->
<!--      <div class="testimonial-item">-->
<!--        <div class="row">-->
<!--          <div class="col-lg-8">-->
<!--            <h2>Impedit dolor facilis nulla</h2>-->
<!--            <p>-->
<!--              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--            </p>-->
<!--            <p>-->
<!--              Omnis aspernatur accusantium qui delectus praesentium repellendus. Facilis sint odio aspernatur voluptas commodi qui qui qui pariatur. Corrupti deleniti itaque quaerat ipsum deleniti culpa tempora tempore. Et consequatur exercitationem hic aspernatur nobis est voluptatibus architecto laborum.-->
<!--            </p>-->
<!--            <div class="profile d-flex align-items-center">-->
<!--              <img th:src="@{/assets/img/person/person-f-10.webp}" class="profile-img" alt="">-->
<!--              <div class="profile-info">-->
<!--                <h3>Jena Karlis</h3>-->
<!--                <span>Store Owner</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-lg-4 d-none d-lg-block">-->
<!--            <div class="featured-img-wrapper">-->
<!--              <img th:src="@{/assets/img/person/person-f-10.webp}" class="featured-img" alt="">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div></div>-->

<!--    <div class="swiper-navigation w-100 d-flex align-items-center justify-content-center">-->
<!--      <div class="swiper-button-prev"></div>-->
<!--      <div class="swiper-button-next"></div>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->


<!--Thẻ-->
<!--<div class="features-grid">-->
<!--    <div class="row g-4">-->
<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-lightbulb"></i>-->
<!--                </div>-->
<!--                <h4>Innovation Focus</h4>-->
<!--                <p>Explore cutting-edge technologies and breakthrough solutions that are reshaping industries worldwide.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-trophy"></i>-->
<!--                </div>-->
<!--                <h4>Expert Speakers</h4>-->
<!--                <p>Learn from industry leaders, successful entrepreneurs, and visionary thinkers who are driving change.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-rocket-takeoff"></i>-->
<!--                </div>-->
<!--                <h4>Career Growth</h4>-->
<!--                <p>Accelerate your professional development through workshops, mentorship, and networking opportunities.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-graph-up-arrow"></i>-->
<!--                </div>-->
<!--                <h4>Business Insights</h4>-->
<!--                <p>Gain valuable market intelligence and strategic insights to drive your business forward.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-puzzle"></i>-->
<!--                </div>-->
<!--                <h4>Hands-on Workshops</h4>-->
<!--                <p>Participate in interactive sessions and practical workshops to develop new skills and knowledge.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">-->
<!--            <div class="feature-card">-->
<!--                <div class="feature-icon">-->
<!--                    <i class="bi bi-globe2"></i>-->
<!--                </div>-->
<!--                <h4>Global Community</h4>-->
<!--                <p>Join a diverse community of innovators, creators, and change-makers from around the world.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->