<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/head :: head}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body class="index-page">

<!-- Navbar start -->
<div th:replace="~{layouts/navbar :: navbar}"></div>
<!-- Navbar End -->

<main class="main" style="margin-top: 80px;">

    <!-- Page Title -->
    <div class="page-title">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1 class="heading-title">Liên hệ</h1>
                        <p class="mb-0">
                            Chúng tôi luôn sẵn sàng hỗ trợ 24/7 khi bạn gặp vấn đề.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a th:href="@{/home}">Trang chủ</a></li>
                    <li class="current">Liên hệ</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

        <div class="container">
            <div class="contact-wrapper">
                <div class="contact-info-panel">
                    <div class="contact-info-header">
                        <h3>Thông tin liên lạc</h3>
                        <p>Vui lòng liên hệ vào giờ hành chính để luôn nhận hồi đáp.</p>
                    </div>

                    <div class="contact-info-cards">
                        <div class="info-card">
                            <div class="icon-container">
                                <i class="bi bi-pin-map-fill"></i>
                            </div>
                            <div class="card-content">
                                <h4>Địa chỉ</h4>
                                <p>Vinh, Nghệ An</p>
                            </div>
                        </div>

                        <div class="info-card">
                            <div class="icon-container">
                                <i class="bi bi-envelope-open"></i>
                            </div>
                            <div class="card-content">
                                <h4>Email</h4>
                                <p>thiepthanhx37@gmail.com</p>
                            </div>
                        </div>

                        <div class="info-card">
                            <div class="icon-container">
                                <i class="bi bi-telephone-fill"></i>
                            </div>
                            <div class="card-content">
                                <h4>Số điện thoại</h4>
                                <p>+84 899 073 387</p>
                            </div>
                        </div>

                        <div class="info-card">
                            <div class="icon-container">
                                <i class="bi bi-clock-history"></i>
                            </div>
                            <div class="card-content">
                                <h4>Thời gian làm việc</h4>
                                <p>Thứ hai - Thứ bảy : 7AM - 24PM</p>
                            </div>
                        </div>
                    </div>

                    <div class="social-links-panel">
                        <h5>Mạng xã hội</h5>
                        <div class="social-icons">
                            <a href="#"><i class="bi bi-facebook"></i></a>
                            <a href="#"><i class="bi bi-twitter-x"></i></a>
                            <a href="#"><i class="bi bi-instagram"></i></a>
                            <a href="#"><i class="bi bi-linkedin"></i></a>
                            <a href="#"><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="contact-form-panel">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30236.829792076624!2d105.67310724528335!3d18.681770344281684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139cdd8bf813c17%3A0xa781646ac5051610!2zVHLGsOG7nW5nIENow61uaCB0cuG7iyB04buJbmggTmdo4buHIEFuLCBIZXJtYW5uIEdtZWluZXIsIEjGsG5nIFBow7pjLCBWaW5oLCBOZ2jhu4cgQW4sIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1765723117616!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="form-container">
                        <h3>Gửi lời nhắn</h3>
                        <p>Vui lòng điền đầy đủ và đúng thông tin của bạn trước khi gửi tin nhắn cho chúng tôi.</p>

                        <form action="../src/main/resources/static/forms/contact.php" method="post" class="php-email-form">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nameInput" name="name" placeholder="Full Name" required="">
                                <label for="nameInput">Tên đầy đủ</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="emailInput" name="email" placeholder="Email Address" required="">
                                <label for="emailInput">Địa chỉ email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="subjectInput" name="subject" placeholder="Subject" required="">
                                <label for="subjectInput">Chủ đề</label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="messageInput" name="message" rows="5" placeholder="Your Message" style="height: 150px" required=""></textarea>
                                <label for="messageInput">Nội dung</label>
                            </div>

                            <div class="my-3">
                                <div class="loading">Đang gửi</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Đã gửi lời nhắn, chúng tôi sẽ phản hồi lại bạn sớm nhất có thể!</div>
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn-submit">Gửi tin nhắn<i class="bi bi-send-fill ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Contact Section -->

</main>

<!-- Footer -->
<div th:replace="~{layouts/footer :: footer}"></div>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/assets/vendor/aos/aos.js}"></script>
<script th:src="@{/assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>

<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>